body {
	font-family: sans-serif;
	background-image: url(../img/contourtile.png);
	background-repeat: repeat;
	background-color: #D7E8A7;
}

/* Text styles */

.info {
	font-size: x-small;
	color: gray;
}

.info a {
	color: gray;
}

/* Config option groups */

details {
	margin-top:10px;
	margin-bottom: 10px;
}

details summary {
	font-weight: bold;
	cursor: pointer;
}

details div.group {
	padding-left: 10px;
	border-left: 5px solid #D7E8A7;
	margin: 10px;
}

/* General sections */

div#intro {
}

div#input {
}

div#output {
}

div#footer {
	text-align: center;
}

/* Section panels */

div.panel {
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	
	width: 800px;

	padding: 10px;

	border-radius: 10px;
	border-width: 4px;
	border-style: solid;
	border-color: #c4d994;
	
	background: white;
}

div.panel :first-child {
	margin-top: 0;
}

div.panel :last-child {
	margin-bottom: 0;
}

p.iolabel {
	float: right;
}

/* Step 1-2-3 Overview */

table#howto {
	width: 100%;
}

table#howto td {
	width: 33%;
	vertical-align: top;
}

/* Status message popups */

#messages {
	position: fixed;
	top: 0;
	right: 0;
	margin: 18px;
	padding: 10px;
}

#messages.errormsg {
	background: #FFCCCC;
	border: 1px dashed red;
	box-shadow: 2px 2px 6px;
	cursor: pointer;
}

#messages.statusmsg {
	background: #CCCCFF;
	border: 1px dotted blue;
	box-shadow: 2px 2px 6px;
	cursor: pointer;
}

/* OpenJSCAD display */

div.viewer {
}

canvas {
	border: 1px solid #c4d994;
	cursor: move;
}

/* Display view buttons */

.viewbuttonsdiv {
	margin-bottom:5px;
}

img.viewbutton {
	cursor: pointer;
	border: none;
	margin-left: 5px;
	margin-right: 5px;
}

/* Display status line */

.statusdiv {
	margin-top: 10px;
}

#statusspan {
}
