body {
	font-family: sans-serif;
}

div#input {
	float: left;
	width: 50%;
}

div#output {
	float: right;
	width: 50%;
}

.info {
	font-size: x-small;
	color: gray;
}

#messages {
	position: fixed;
	top: 0;
	right: 0;
	margin: 10px;
	padding: 10px;
}

#messages.errormsg {
	background: #FFCCCC;
	border: 1px dashed red;
	box-shadow: 2px 2px 6px;
	cursor: pointer;
}

#messages.statusmsg {
	background: #CCCCFF;
	border: 1px dotted blue;
	box-shadow: 2px 2px 6px;
	cursor: pointer;
}
