body {
	font-family: sans-serif;
	
	background-image: url(../img/tile2.png);
	background-repeat: repeat;
	background-color: #D7E8A7;
}

.config-link {
	cursor: pointer;
}

.config-link.inactive {
	color: gray;
}

.config-link.active {
	color: black;
}

.config-group {
	display: none;
	
	border-left: 15px solid #BBB;
	padding-left: 15px;
}

div.panel {
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	
	width: 800px;

	padding: 10px;

	border-radius: 10px;
	border-width: 4px;
	border-style: solid;
	border-color: #c4d994;
	
	background: white;
}

div.panel :first-child {
	margin-top: 0;
}

div.panel :last-child {
	margin-bottom: 0;
}

div#intro {
}

div#input {
}

div#output {
}

div#footer {
	text-align: center;
}

.info {
	font-size: x-small;
	color: gray;
}

.info a {
	color: gray;
}

div.viewer {
	border: 1px solid blue;
}

#messages {
	position: fixed;
	top: 0;
	right: 0;
	margin: 18px;
	padding: 10px;
}

#messages.errormsg {
	background: #FFCCCC;
	border: 1px dashed red;
	box-shadow: 2px 2px 6px;
	cursor: pointer;
}

#messages.statusmsg {
	background: #CCCCFF;
	border: 1px dotted blue;
	box-shadow: 2px 2px 6px;
	cursor: pointer;
}
